@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
body {
    
    background-color: #FFBF46;
    font-family: 'Roboto', sans-serif;
    
}

/*header styling*/
header {
    width: 100vw;
    height: 100px;
    position: absolute;
    top: 0;
    background-color: #8ACB88;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 36px;
    position: sticky;
    top: 0;
    z-index: 9999;
}

/*footer styling*/
footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 80px;
    background-color: #8ACB88;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*hero styling*/
.userscore {
    margin-left: 50px;
    float: left;
    font-size: 30px;
}
.timer {
    margin-right: 50px;
    float: right;
    font-size: 30px;
}
/*main styling*/
main {
    width: 100vw;
    position: absolute;
    bottom: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.multiplechoice {
    display: flex;
    flex-wrap: wrap;
}

.question {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFBF46;
    font-size: 32px;
    border-radius: 15px;
}

.quiz-starter {
    font-size: 30px;
    background-color: #648381;
    border-radius: 15px;
    padding: 0 15px 0 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}


.answerholder {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   font-size: 28px;
   border-radius: 15px;
   margin: 15px;
}
.answer{
    width: 50vw;
    background-color: #648381;
    font-size: 28px;
    border-radius: 15px;
    margin: 15px;
}

.feedback {
    background-color: #FFBF46;
    font-size: 28px;
    font-style: italic;
}

